<!DOCTYPE html>
<html>
  <head>
    <title>Coding Riddles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Solve the riddles!</h1>
      <form action="/showriddles" method="post">
      <p>@Model.RiddleQuestion</p>
      <input id="input" name="input" type="text">
      <button type="submit">Check Answer</button>
      </form>
    </div>
  </body>
</html>
